<div class="main__home">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/img/home/home-banner01.png" alt=""></div>
        <div class="swiper-slide"><img src="/img/home/home-banner02.png" alt=""></div>
        <div class="swiper-slide"><img src="/img/home/home-banner03.png" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="container">
        <h1>ALL WORKERS</h1>
        <div class="row mt-4 ">
            {{#each workers}}
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card" style="border:red 1px solid">
                    <a href="/workers/{{this.slug}}"><img src="{{this.img}}" class="card-img-top member__img" alt="worker"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <h5 class="card-title">{{this.birth}}</h5>
                        <h5 class="card-title">{{this.from}}</h5>
                        <p class="card-text">{{this.experience}}</p>
                        <a href="/workers/{{this.slug}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div> 
            </div>
            {{/each}}
        </div>
    </div>
    
    
</div>