<div class="container">
    <div class="card" style="border:red 1px solid">
        <a href="/workers/{{this.slug}}"><img src="{{worker.img}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <h5 class="card-title">{{worker.name}}</h5>
            <h5 class="card-title">{{worker.birth}}</h5>
            <p class="card-text">{{worker.experience}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>